<a href="https://colab.research.google.com/github/maadmaaax/Project_NBA_GroupM/blob/main/Analyse_Principale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
!pip install requests beautifulsoup4 pandas #requestsfetches the page,beautifulsoup4finds the data on the page, andpandas` organizes it into a table.

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (4.13.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.11.12)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [75]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import numpy as np
import statsmodels.api as sm
from pandas.plotting import table
from google.colab import files
#Importing all the packages needed

In [54]:
!git clone https://github.com/maadmaaax/Project_NBA_GroupM
#Load Player stat data set
rs2005=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2005.csv')
rs2006=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2006.csv')
rs2007=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2007.csv')
rs2008=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2008.csv')
rs2009=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2009.csv')
rs2010=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2010.csv')
rs2011=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2011.csv')
rs2012=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2012.csv')
rs2013=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2013.csv')
rs2014=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2014.csv')
rs2015=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2015.csv')
rs2016=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2016.csv')
rs2017=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2017.csv')
rs2018=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2018.csv')
rs2019=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2019.csv')
rs2020=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2020.csv')
rs2021=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2021.csv')
rs2022=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2022.csv')
rs2023=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2023.csv')
rs2024=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2024.csv')
rs2025=pd.read_csv('Project_NBA_GroupM/Data/Raw/rs2025.csv')
#Load teams result data sets
st2005=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2005.csv')
st2006=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2006.csv')
st2007=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2007.csv')
st2008=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2008.csv')
st2009=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2009.csv')
st2010=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2010.csv')
st2011=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2011.csv')
st2012=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2012.csv')
st2013=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2013.csv')
st2014=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2014.csv')
st2015=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2015.csv')
st2016=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2016.csv')
st2017=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2017.csv')
st2018=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2018.csv')
st2019=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2019.csv')
st2020=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2020.csv')
st2021=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2021.csv')
st2022=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2022.csv')
st2023=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2023.csv')
st2024=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2024.csv')
st2025=pd.read_csv('Project_NBA_GroupM/Data/Raw/st2025.csv')

fatal: destination path 'Project_NBA_GroupM' already exists and is not an empty directory.

In [55]:
#Changing full team name to 3letter code to keep consistent with the rs dataset
team_replacements = {
    "Atlanta Hawks": "ATL",
    "Boston Celtics": "BOS",
    "Brooklyn Nets": "BRK",
    "New Jersey Nets": "BRK",
    "NJN":"BRK",
    "Charlotte Hornets": "CHO",
    "Charlotte Bobcats": "CHO",
    "CHA":"CHO",
    "Chicago Bulls": "CHI",
    "Cleveland Cavaliers": "CLE",
    "Dallas Mavericks": "DAL",
    "Denver Nuggets": "DEN",
    "Detroit Pistons": "DET",
    "Golden State Warriors": "GSW",
    "Houston Rockets": "HOU",
    "Indiana Pacers": "IND",
    "Los Angeles Clippers": "LAC",
    "Los Angeles Lakers": "LAL",
    "Memphis Grizzlies": "MEM",
    "Miami Heat": "MIA",
    "Milwaukee Bucks": "MIL",
    "Minnesota Timberwolves": "MIN",
    "New Orleans Pelicans": "NOP",
    "New Orleans Hornets": "NOP",
    "NOH": "NOP",
    "New Orleans/Oklahoma City Hornets": "NOP",
    "NOK": "NOP",
    "New York Knicks": "NYK",
    "Oklahoma City Thunder": "OKC",
    "Seattle SuperSonics": "OKC",
    "SEA": "OKC",
    "Orlando Magic": "ORL",
    "Philadelphia 76ers": "PHI",
    "Phoenix Suns": "PHO",
    "Portland Trail Blazers": "POR",
    "Sacramento Kings": "SAC",
    "San Antonio Spurs": "SAS",
    "Toronto Raptors": "TOR",
    "Utah Jazz": "UTA",
    "Washington Wizards": "WAS"
}

Dropst=['E','Apr','A','C','SE','NW','P','SW','Post','Pre','Oct','Nov','Dec','Jan','Feb','Mar','Jul','Aug','May']
Droprs=['2TM','3TM','TOT','5TM','4TM','nan']
years = range(2005, 2026)

for year in years:
    df_name = f'st{year}'
    if df_name in globals():
        df = globals()[df_name]
        # Strip spaces and replace team names in the relevant column
        df['Team'] = df['Team'].str.strip().replace(team_replacements)
        df=df.drop(columns=Dropst,errors='ignore')
        # Create Win and loss as column and compute %
        df[['W','L']]=df['Overall'].str.split('-',expand=True).astype(int)
        df['W%']=df['W']/(df['L']+df['W'])

        df[['HW','HL']]=df['Home'].str.split('-',expand=True).astype(int)
        df['HW%']=df['HW']/(df['HL']+df['HW'])

        df[['RW','RL']]=df['Road'].str.split('-',expand=True).astype(int)
        df['RW%']=df['RW']/(df['RL']+df['RW'])



        globals()[df_name] = df

#Changing old team name to recent one for consistency
for year in years:
    df_name = f'rs{year}'
    if df_name in globals():
        df = globals()[df_name]
        # Strip spaces and replace team names in the relevant column
        df['Team'] = df['Team'].str.strip().replace(team_replacements)
        df = df[~df.isin(Droprs)]
        df['MVP']=df['Awards'].str.contains('MVP',na=False).astype(int)
        df['ALLNBA']=df['Awards'].str.contains('NBA',na=False).astype(int)
        df['DPOY']=df['Awards'].str.contains('DEF|DPOY',na=False).astype(int)
        # Save back to variable
        globals()[df_name] = df

In [56]:
# --- Exploring Dataframes one by one ---

# 1. Create a dictionnary to associate Dataframes names
# C'est plus propre pour l'affichage que d'utiliser la liste
dfs_dict = {
    "rs2005": rs2005, "rs2006": rs2006, "rs2007": rs2007, "rs2008": rs2008,
    "rs2009": rs2009, "rs2010": rs2010, "rs2011": rs2011, "rs2012": rs2012,
    "rs2013": rs2013, "rs2014": rs2014, "rs2015": rs2015, "rs2016": rs2016,
    "rs2017": rs2017, "rs2018": rs2018, "rs2019": rs2019, "rs2020": rs2020,
    "rs2021": rs2021, "rs2022": rs2022, "rs2023": rs2023, "rs2024": rs2024,
    "rs2025": rs2025
}
sts_dict = {
    "st2005": st2005, "st2006": st2006, "st2007": st2007, "st2008": st2008,
    "st2009": st2009, "st2010": st2010, "st2011": st2011, "st2012": st2012,
    "st2013": st2013, "st2014": st2014, "st2015": st2015, "st2016": st2016,
    "st2017": st2017, "st2018": st2018, "st2019": st2019, "st2020": st2020,
    "st2021": st2021, "st2022": st2022, "st2023": st2023, "st2024": st2024,
    "st2025": st2025
}

#print("--- Starting the analysis of each seasons ---")

# 2. Loop on each pair (name, DataFrame) in the dictionnairy
for name, df in dfs_dict.items():

    #print(f"\n=========================================")
    #print(f" ANALYSIS of : {name}")
    #print(f"=========================================")

    # 1. Display the Shape (Dimensions)
    # df.shape[0] = lignes, df.shape[1] = columns (variables)
    #print(f"Dimensions : {df.shape[0]} lines, {df.shape[1]} variables (columns)")

    # 2. Verify the values NaN
    # .isnull() creates a DF of booleans (True si NaN)
    # .sum() is the sum per column
    # .sum() a second sum for the total sum
    total_nan = df.isnull().sum().sum()

    if total_nan == 0:
       # print(" Good news : No NaN values were found.")
    #else:
        # If there is any NaN values, we want to know where
       # print(f" ATTENTION : {total_nan} NaN Values in total were found !")

        # We create a serie of 'nan_per_column' that count the NaN per column
        nan_per_column = df.isnull().sum()

        # We print only the column that really have NaN
       # print("Infos of NaN per column :")
       # print(nan_per_column[nan_per_column > 0])

    #print("-" * 40)

#print("\n--- End of the analysis ---")

In [57]:
# ---Display to see howw a dataframes looks like from our database. For example 2005
#display(st2005)

In [58]:
st2006.head(32)

,Rk,Team,Overall,Home,Road,W,≤3,≥10,L,W%,HW,HL,HW%,RW,RL,RW%
0,1,DET,64-18,37-4,27-14,64,7-4,32-8,18,0.780488,37,4,0.902439,27,14,0.658537
1,2,SAS,63-19,34-7,29-12,63,10-2,31-11,19,0.768293,34,7,0.829268,29,12,0.707317
2,3,DAL,60-22,34-7,26-15,60,11-6,28-10,22,0.731707,34,7,0.829268,26,15,0.634146
3,4,PHO,54-28,31-10,23-18,54,0-7,34-9,28,0.658537,31,10,0.756098,23,18,0.560976
4,5,MIA,52-30,31-10,21-20,52,8-4,27-11,30,0.634146,31,10,0.756098,21,20,0.512195
5,6,CLE,50-32,31-10,19-22,50,9-4,20-11,32,0.609756,31,10,0.756098,19,22,0.463415
6,7,MEM,49-33,30-11,19-22,49,6-10,30-13,33,0.597561,30,11,0.731707,19,22,0.463415
7,8,BRK,49-33,29-12,20-21,49,8-6,21-17,33,0.597561,29,12,0.707317,20,21,0.487805
8,9,LAC,47-35,27-14,20-21,47,6-5,24-19,35,0.573171,27,14,0.658537,20,21,0.487805
9,10,LAL,45-37,27-14,18-23,45,7-9,25-15,37,0.548780,27,14,0.658537,18,23,0.439024
10,11,DEN,44-38,26-15,18-23,44,12-8,22-20,38,0.536585,26,15,0.634146,18,23,0.439024
11,12,SAC,44-38,27-14,17-24,44,6-5,21-21,38,0.536585,27,14,0.658537,17,24,0.414634
12,13,WAS,42-40,27-14,15-26,42,5-8,24-16,40,0.512195,27,14,0.658537,15,26,0.365854
13,14,CHI,41-41,21-20,20-21,41,6-10,14-16,41,0.500000,21,20,0.512195,20,21,0.487805
14,15,IND,41-41,27-14,14-27,41,4-10,26-14,41,0.500000,27,14,0.658537,14,27,0.341463
15,16,UTA,41-41,22-19,19-22,41,7-2,17-23,41,0.500000,22,19,0.536585,19,22,0.463415
16,17,MIL,40-42,25-16,15-26,40,11-6,15-18,42,0.487805,25,16,0.609756,15,26,0.365854
17,18,NOP,38-44,24-17,14-27,38,7-5,14-28,44,0.463415,24,17,0.585366,14,27,0.341463
18,19,PHI,38-44,23-18,15-26,38,9-7,12-21,44,0.463415,23,18,0.560976,15,26,0.365854
19,20,ORL,36-46,26-15,10-31,36,4-6,15-19,46,0.439024,26,15,0.634146,10,31,0.243902
20,21,OKC,35-47,22-19,13-28,35,4-4,15-24,47,0.426829,22,19,0.536585,13,28,0.317073
21,22,GSW,34-48,21-20,13-28,34,7-14,12-22,48,0.414634,21,20,0.512195,13,28,0.317073
22,23,HOU,34-48,15-26,19-22,34,7-9,13-19,48,0.414634,15,26,0.365854,19,22,0.463415
23,24,BOS,33-49,21-20,12-29,33,9-10,15-17,49,0.402439,21,20,0.512195,12,29,0.292683
24,25,MIN,33-49,24-17,9-32,33,4-10,16-19,49,0.402439,24,17,0.585366,9,32,0.219512
25,26,TOR,27-55,15-26,12-29,27,5-11,12-20,55,0.329268,15,26,0.365854,12,29,0.292683
26,27,ATL,26-56,18-23,8-33,26,12-12,7-22,56,0.317073,18,23,0.439024,8,33,0.195122
27,28,CHO,26-56,17-24,9-32,26,5-7,10-26,56,0.317073,17,24,0.414634,9,32,0.219512
28,29,NYK,23-59,15-26,8-33,23,8-6,7-32,59,0.280488,15,26,0.365854,8,33,0.195122
29,30,POR,21-61,15-26,6-35,21,7-4,4-42,61,0.256098,15,26,0.365854,6,35,0.146341

In [59]:
#---Combine every seasons from 2005 to 2025 to determine score max & score min
#for every variable that are useful in our analysis

# 1. Merge all df in a list
all_dfs_list = [
    rs2005, rs2006, rs2007, rs2008, rs2009, rs2010,
    rs2011, rs2012, rs2013, rs2014, rs2015, rs2016,
    rs2017, rs2018, rs2019, rs2020, rs2021, rs2022,
    rs2023, rs2024, rs2025
]
all_sts_list = [
    st2005, st2006, st2007, st2008, st2009, st2010,
    st2011, st2012, st2013, st2014, st2015, st2016,
    st2017, st2018, st2019, st2020, st2021, st2022,
    st2023, st2024, st2025
]

#We concat all in one big Dataframe
#and we add 'season' column
season = 2005
for df in all_dfs_list:
  df['Season'] = season
  season += 1

season = 2005
for df in all_sts_list:
  df['Season'] = season
  season += 1

sts_data_full = pd.concat(all_sts_list, ignore_index=True)
sts_data_full=sts_data_full.drop(columns=Dropst,errors='ignore')
nbas_data_full = pd.concat(all_dfs_list, ignore_index=True)
nbas_data_full=nbas_data_full[~nbas_data_full.isin(Droprs)]

nbas_data_full.to_csv('Project_NBA_GroupM/Data/Raw/nbas_data_full.csv',index=False)
#print("All seasons combined")
##print(nbas_data_full.shape)
#display(sts_data_full.tail(50))

In [60]:
#Saving cleaned data set


# Save to CSV in the Colab filesystem
##nbas_data_full.to_csv('nbas_data_full.csv', index=False)
##sts_data_full.to_csv('sts_data_full.csv', index=False)

# Download to your computer
##files.download('nbas_data_full.csv')
##files.download('sts_data_full.csv')

In [61]:
# Remove the row where 'Rk' is 'League Average'
nbas_data_full = nbas_data_full[nbas_data_full['Rk'] != 'League Average'].copy()

# List of columns that should be numerical (excluding Player, Team, Pos, Awards, Player-additional)
numerical_cols = ['Rk', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

# Convert numerical columns to numeric, coercing errors to NaN
for col in numerical_cols:
    nbas_data_full[col] = pd.to_numeric(nbas_data_full[col], errors='coerce')

# Drop rows with NaN values in the numerical columns
nbas_data_full.dropna(subset=numerical_cols, inplace=True)

#print("DataFrame after removing rows with missing or non-numerical values in specified columns:")
#print(nbas_data_full.shape)
#display(nbas_data_full.head())

In [62]:
# Check for missing values in the combined DataFrame
missing_values = nbas_data_full.isnull().sum()

# Display the number of missing values per column
#print("Missing values per column in nbas_data_full:")
#display(missing_values[missing_values > 0])

In [63]:
#Iniating True Shooting percentage TS% to measure a team efficiency
nbas_data_full['TS%']=nbas_data_full['PTS']/(2*(nbas_data_full['FGA']+0.44*nbas_data_full['FTA']))
#Creating stats "Per 36 minutes"
# We need to normalize the time played per player
min_played_col='MP'
stats_to_normalize = [
    'PTS', 'AST', 'TRB', 'STL', 'BLK', # Positive Stats
    'TOV', 'PF' # Negative Stats
]

#print(f"Normalisation using'{min_played_col}")
for stat in stats_to_normalize:
    new_col_name = f"{stat}_per_36"

    #For every stats, the formule is : (stat / time played) * 36
    # To avoid a zero division we have to use .replace(0,1)
    nbas_data_full[new_col_name] = (nbas_data_full[stat] / nbas_data_full[min_played_col].replace(0, 1)) * 36
#print("Stats 'per 36 minutes' créées.")
#print(nbas_data_full[['Player','Season', min_played_col, 'PTS', 'PTS_per_36','TS%']].head())

In [64]:
# ---3. Agregate effeciency stats---
# we take new named columns
stats_eff = [f"{stat}_per_36" for stat in stats_to_normalize]

# We group by season & teams & we calculate the mean of stats_eff
team_stats_eff = nbas_data_full.groupby(['Season', 'Team'])[stats_eff].mean().reset_index()

#print("\nEffeciency mean stats per team per season:")
#display(team_stats_eff.head())

In [65]:
#First Approach using an arbitrary score
from numpy import positive
# --- 4. Power Score Calculation ---
team_scores = team_stats_eff[['Season', 'Team']].copy()

# Separate positive stats frome the negative ones
positive_stats = ['PTS_per_36', 'AST_per_36', 'TRB_per_36', 'STL_per_36', 'BLK_per_36']
negative_stats = ['TOV_per_36', 'PF_per_36']

#For positive stats
for col in positive_stats:
    min_score = team_stats_eff[col].min()
    max_score = team_stats_eff[col].max()
    col_score_name = f"{col}_score"
    team_scores[col_score_name] = 1 + 5 * (team_stats_eff[col] - min_score) / (max_score - min_score)


# For negative stats
for col in negative_stats:
    min_score = team_stats_eff[col].min()
    max_score = team_stats_eff[col].max()
    col_score_name = f"{col}_score"
    team_scores[col_score_name] = 1 + 5 * (max_score - team_stats_eff[col]) / (max_score - min_score)


# Calculate the general mean score
col_score = [col for col in team_scores.columns if col.endswith('_score')]
team_scores['Final_Power_Score'] = team_scores[col_score].mean(axis=1)
team_scores['Final_Power_Score']=(team_scores['Final_Power_Score'])/team_scores['Final_Power_Score'].max()

# Finding the predictible winners from our model
idx_predicts = team_scores.groupby('Season')['Final_Power_Score'].idxmax()

pred_winner = team_scores.loc[idx_predicts]
#Actual winner of a season
idx_winner= sts_data_full.groupby('Season')['W%'].idxmax()
idx_winner = idx_winner.dropna()
idx_winner=idx_winner.drop(columns=Dropst,errors='ignore')
actual_winner=sts_data_full.loc[idx_winner]
#Merging relevant columns to make easier comparaison
pred1=pred_winner[['Season','Team','Final_Power_Score']]
actual1=actual_winner[['Team','W%']]
actual1=actual1.rename(columns={'W%':'Win% of actual winner'})
#Adding actual rank
pred1 = pred1.merge(sts_data_full[['Season','Team','Rk']],
                  on=['Season','Team'],
                  how='left')


pred1 = pred1.rename(columns={'Rk_y': 'Actual Rank'})


Comparaison=pd.concat([pred1.reset_index(drop=True),actual1.reset_index(drop=True)],axis=1)
Comparaison=Comparaison.rename(columns={'Rk': 'Actual Rank'})

#print("\n Winners based on our model vs actual winners:")
#print(Comparaison)

In [66]:

#Second approach using regression
reg_stat=['PTS', 'AST', 'TRB', 'STL', 'BLK','TOV', 'PF','TS%','MVP','ALLNBA','DPOY']

reg_stats_Per36=['PTS_per_36', 'AST_per_36', 'TRB_per_36', 'STL_per_36', 'BLK_per_36','TOV_per_36', 'PF_per_36','TS%','MVP','ALLNBA','DPOY']

all_stats = reg_stat + [s for s in reg_stats_Per36 if s not in reg_stat] # Combine for team_stats_raw

# We normalized stat by total team game to have a team stat
norm = nbas_data_full.copy()
norm[reg_stat] = norm[reg_stat].mul(norm['G'], axis=0) / 82

team_stats_norm=norm.groupby(['Season','Team'])[all_stats].sum().reset_index()
regdf= pd.merge(team_stats_norm,sts_data_full,on=['Team','Season'])
regdf = regdf.drop(columns=['Rk'])
#We created a dataset grouping team summed stat and their season records to facilitate the regression

# Create X1_data and X2_data from regdf for the models
X1_data = sm.add_constant(regdf[reg_stat])
X2_data = sm.add_constant(regdf[reg_stats_Per36])

model1=sm.OLS(regdf['W%'],X1_data).fit()
predict1=model1.predict(X1_data)
prediction1 = pd.DataFrame(predict1, columns=['Predicted_W%'])

#We make a second model using stat per36 instead of regular one
model2=sm.OLS(regdf['W%'],X2_data).fit()
predict2=model2.predict(X2_data)
prediction2 = pd.DataFrame(predict2, columns=['Predicted_W%'])

# Reset the index of regdf before merging to ensure proper alignment if indices are not unique
regdf_reset = regdf.reset_index(drop=True)

# Concatenate prediction1 with the relevant columns from regdf
result1 = pd.concat([regdf_reset[['Season', 'Team', 'W%']], prediction1], axis=1)
result2 = pd.concat([regdf_reset[['Season', 'Team', 'W%']], prediction2], axis=1)


#print(model1.summary())
#print(model2.summary())

In [78]:
mvp_stat=['PTS', 'AST', 'TRB', 'STL', 'BLK','TOV', 'PF','TS%']

#Normalize stat to better compare the coefficient
X_mvp_raw = sm.add_constant(nbas_data_full[mvp_stat])
X_mvp_norm = X_mvp_raw.copy()
norm_cols = []

for col in mvp_stat:
    max_val = X_mvp_raw[col].max()
    X_mvp_norm[col + '_norm'] = X_mvp_raw[col] / max_val
    norm_cols.append(col + '_norm')

X_mvp_normalized = X_mvp_norm[['const'] + norm_cols]

#Logistic regression of whether or not a player won an MVP based on normalized stat
MVP1_norm = sm.Logit(nbas_data_full['MVP'], X_mvp_normalized).fit(disp=0)
MVP_predict1_norm = MVP1_norm.predict(X_mvp_normalized)

# Use those coefficient to create a MVP score for each player
MVP_score = nbas_data_full.copy()
MVP_score['MVP_score'] = MVP_predict1_norm * 100  # Still scale to 0-100 for readability

# Use this MVP score to predict win%
team_stat_mvp = MVP_score.groupby(['Season','Team'])['MVP_score'].mean().reset_index()
MVP_reg = pd.merge(team_stat_mvp, sts_data_full, on=['Team','Season'])
X = sm.add_constant(MVP_reg[['MVP_score']])


model_MVP = sm.OLS(MVP_reg['W%'], X).fit()
pred_MVP = model_MVP.predict(X)

# Results
result = pd.concat([MVP_reg[['Season', 'Team', 'W%']], pd.Series(pred_MVP, name='pred_W%')], axis=1)

print(MVP_score.head())
print(MVP1_norm.summary())

    Rk             Player   Age Team Pos     G    GS    MP    FG   FGA  ...  \
0  1.0      Allen Iverson  29.0  PHI  PG  75.0  75.0  42.3  10.3  24.2  ...
1  2.0        Kobe Bryant  26.0  LAL  SG  66.0  66.0  40.7   8.7  20.1  ...
2  3.0       LeBron James  20.0  CLE  SF  80.0  80.0  42.4   9.9  21.1  ...
3  4.0      Dirk Nowitzki  26.0  DAL  PF  78.0  78.0  38.7   8.5  18.5  ...
4  5.0  Amar'e Stoudemire  22.0  PHO   C  80.0  80.0  36.1   9.3  16.7  ...

   Season       TS%  PTS_per_36  AST_per_36  TRB_per_36  STL_per_36  \
0    2005  0.532616   26.127660    6.723404    3.404255    2.042553
1    2005  0.562256   24.412776    5.307125    5.218673    1.149877
2    2005  0.552396   23.094340    6.113208    6.283019    1.867925
3    2005  0.579897   24.279070    2.883721    9.023256    1.116279
4    2005  0.617401   25.927978    1.595568    8.875346    0.997230

   BLK_per_36  TOV_per_36  PF_per_36  MVP_score
0    0.085106    3.914894   1.617021  85.099140
1    0.707617    3.626536   2.299754  47.957618
2    0.594340    2.801887   1.528302  89.441905
3    1.395349    2.139535   2.604651  56.014846
4    1.595568    2.393352   3.490305  27.325320

[5 rows x 45 columns]
                           Logit Regression Results
==============================================================================
Dep. Variable:                    MVP   No. Observations:                11236
Model:                          Logit   Df Residuals:                    11227
Method:                           MLE   Df Model:                            8
Date:                Fri, 12 Dec 2025   Pseudo R-squ.:                  0.5950
Time:                        00:54:07   Log-Likelihood:                -523.19
converged:                       True   LL-Null:                       -1291.9
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -14.1573      1.351    -10.479      0.000     -16.805     -11.509
PTS_norm      10.6782      0.793     13.461      0.000       9.123      12.233
AST_norm       5.3384      0.726      7.358      0.000       3.916       6.760
TRB_norm       4.2412      0.660      6.429      0.000       2.948       5.534
STL_norm       2.8165      0.628      4.487      0.000       1.586       4.047
BLK_norm       2.6705      0.710      3.762      0.000       1.279       4.062
TOV_norm      -1.8800      0.982     -1.914      0.056      -3.805       0.045
PF_norm       -2.8164      0.834     -3.377      0.001      -4.451      -1.182
TS%_norm       4.9453      2.213      2.235      0.025       0.609       9.282
==============================================================================

Possibly complete quasi-separation: A fraction 0.32 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

In [68]:
#Getting the actual team composition for 2025-2026

#We keep the statistics of 2025
##players_2025 = nbas_data_full[nbas_data_full['Season'] == 2025].copy()


##players_2025.head()
##roster_2026 = pd.read_csv("roster_2026.csv", sep=";") #file with 2025-2026 team composition
#merging table nba_data_full table with 2026 team composition
##players_2026 = players_2025.merge( roster_2026, on='Player', how='inner')

##print(" Team composition for the 2025-2026 season")
##print(players_2026.shape)
##players_2026.head()
##players_2026['Team'] = players_2026['Team_2026']
##players_2026['Season'] = 2026
##players_2026 = players_2026.drop(columns=['Team_2026'])
##players_2026.head()