<a href="https://colab.research.google.com/github/maadmaaax/Project_NBA_GroupM/blob/main/Analyse_Principale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (4.13.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [3]:
!git clone https://github.com/maadmaaax/Project_NBA_GroupM
rs2005=pd.read_csv('Project_NBA_GroupM/rs2005.csv')
rs2006=pd.read_csv('Project_NBA_GroupM/rs2006.csv')
rs2007=pd.read_csv('Project_NBA_GroupM/rs2007.csv')
rs2008=pd.read_csv('Project_NBA_GroupM/rs2008.csv')
rs2009=pd.read_csv('Project_NBA_GroupM/rs2009.csv')
rs2010=pd.read_csv('Project_NBA_GroupM/rs2010.csv')
rs2011=pd.read_csv('Project_NBA_GroupM/rs2011.csv')
rs2012=pd.read_csv('Project_NBA_GroupM/rs2012.csv')
rs2013=pd.read_csv('Project_NBA_GroupM/rs2013.csv')
rs2014=pd.read_csv('Project_NBA_GroupM/rs2014.csv')
rs2015=pd.read_csv('Project_NBA_GroupM/rs2015.csv')
rs2016=pd.read_csv('Project_NBA_GroupM/rs2016.csv')
rs2017=pd.read_csv('Project_NBA_GroupM/rs2017.csv')
rs2018=pd.read_csv('Project_NBA_GroupM/rs2018.csv')
rs2019=pd.read_csv('Project_NBA_GroupM/rs2019.csv')
rs2020=pd.read_csv('Project_NBA_GroupM/rs2020.csv')
rs2021=pd.read_csv('Project_NBA_GroupM/rs2021.csv')
rs2022=pd.read_csv('Project_NBA_GroupM/rs2022.csv')
rs2023=pd.read_csv('Project_NBA_GroupM/rs2023.csv')
rs2024=pd.read_csv('Project_NBA_GroupM/rs2024.csv')
rs2025=pd.read_csv('Project_NBA_GroupM/rs2025.csv')

Cloning into 'Project_NBA_GroupM'...
remote: Enumerating objects: 52, done.
remote: Counting objects: 100% (52/52), done.
remote: Compressing objects: 100% (50/50), done.
remote: Total 52 (delta 9), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (52/52), 1.18 MiB | 6.16 MiB/s, done.
Resolving deltas: 100% (9/9), done.

In [5]:
# --- Exploring Dataframes one by one ---

# 1. Create a dictionnary to associate Dataframes names
# C'est plus propre pour l'affichage que d'utiliser la liste
dfs_dict = {
    "rs2005": rs2005, "rs2006": rs2006, "rs2007": rs2007, "rs2008": rs2008,
    "rs2009": rs2009, "rs2010": rs2010, "rs2011": rs2011, "rs2012": rs2012,
    "rs2013": rs2013, "rs2014": rs2014, "rs2015": rs2015, "rs2016": rs2016,
    "rs2017": rs2017, "rs2018": rs2018, "rs2019": rs2019, "rs2020": rs2020,
    "rs2021": rs2021, "rs2022": rs2022, "rs2023": rs2023, "rs2024": rs2024,
    "rs2025": rs2025
}

print("--- Starting the analysis of each seasons ---")

# 2. Loop on each pair (name, DataFrame) in the dictionnairy
for name, df in dfs_dict.items():

    print(f"\n=========================================")
    print(f" ANALYSIS of : {name}")
    print(f"=========================================")

    # 1. Display the Shape (Dimensions)
    # df.shape[0] = lignes, df.shape[1] = columns (variables)
    print(f"Dimensions : {df.shape[0]} lines, {df.shape[1]} variables (columns)")

    # 2. Verify the values NaN
    # .isnull() creates a DF of booleans (True si NaN)
    # .sum() is the sum per column
    # .sum() a second sum for the total sum
    total_nan = df.isnull().sum().sum()

    if total_nan == 0:
        print(" Good news : No NaN values were found.")
    else:
        # If there is any NaN values, we want to know where
        print(f" ATTENTION : {total_nan} NaN Values in total were found !")

        # We create a serie of 'nan_per_column' that count the NaN per column
        nan_per_column = df.isnull().sum()

        # We print only the column that really have NaN
        print("Infos of NaN per column :")
        print(nan_per_column[nan_per_column > 0])

    print("-" * 40)

print("\n--- End of the analysis ---")

--- Starting the analysis of each seasons ---

=========================================
 ANALYSIS of : rs2005
=========================================
Dimensions : 586 lines, 32 variables (columns)
 ATTENTION : 689 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%       108
2P          1
2PA         1
2P%         2
eFG%        2
FT          1
FTA         1
FT%        25
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    526
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2006
=========================================
Dimensions : 564 lines, 32 variables (columns)
 ATTENTION : 679 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%       121
2P          1
2PA         1
2P%         5
eFG%        4
FT          1
FTA         1
FT%        26
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    495
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2007
=========================================
Dimensions : 517 lines, 32 variables (columns)
 ATTENTION : 592 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%       101
2P          1
2PA         1
2P%         5
eFG%        3
FT          1
FTA         1
FT%        16
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    440
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2008
=========================================
Dimensions : 596 lines, 32 variables (columns)
 ATTENTION : 705 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%       116
2P          1
2PA         1
2P%         3
eFG%        2
FT          1
FTA         1
FT%        30
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    528
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2009
=========================================
Dimensions : 583 lines, 32 variables (columns)
 ATTENTION : 677 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%       102
2P          1
2PA         1
2P%         5
eFG%        4
FT          1
FTA         1
FT%        26
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    512
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2010
=========================================
Dimensions : 579 lines, 32 variables (columns)
 ATTENTION : 663 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%        93
2P          1
2PA         1
2P%         5
eFG%        3
FT          1
FTA         1
FT%        21
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    514
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2011
=========================================
Dimensions : 626 lines, 32 variables (columns)
 ATTENTION : 735 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%       111
2P          1
2PA         1
2P%         4
eFG%        3
FT          1
FTA         1
FT%        29
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    561
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2012
=========================================
Dimensions : 552 lines, 32 variables (columns)
 ATTENTION : 630 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
3P          1
3PA         1
3P%        99
2P          1
2PA         1
FT          1
FTA         1
FT%        25
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    482
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2013
=========================================
Dimensions : 574 lines, 32 variables (columns)
 ATTENTION : 662 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%        95
2P          1
2PA         1
2P%         4
eFG%        4
FT          1
FTA         1
FT%        22
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    509
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2014
=========================================
Dimensions : 612 lines, 32 variables (columns)
 ATTENTION : 722 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         7
3P          1
3PA         1
3P%        96
2P          1
2PA         1
2P%         9
eFG%        7
FT          1
FTA         1
FT%        32
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    547
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2015
=========================================
Dimensions : 652 lines, 32 variables (columns)
 ATTENTION : 730 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        81
2P          1
2PA         1
2P%         4
eFG%        2
FT          1
FTA         1
FT%        25
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    592
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2016
=========================================
Dimensions : 579 lines, 32 variables (columns)
 ATTENTION : 634 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%        56
2P          1
2PA         1
2P%         8
eFG%        3
FT          1
FTA         1
FT%        24
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    516
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2017
=========================================
Dimensions : 596 lines, 32 variables (columns)
 ATTENTION : 643 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        46
2P          1
2PA         1
2P%         5
eFG%        2
FT          1
FTA         1
FT%        24
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    540
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2018
=========================================
Dimensions : 665 lines, 32 variables (columns)
 ATTENTION : 781 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%        65
2P          1
2PA         1
2P%        18
eFG%        4
FT          1
FTA         1
FT%        58
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    608
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2019
=========================================
Dimensions : 709 lines, 32 variables (columns)
 ATTENTION : 792 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         6
3P          1
3PA         1
3P%        47
2P          1
2PA         1
2P%        15
eFG%        6
FT          1
FTA         1
FT%        43
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    651
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2020
=========================================
Dimensions : 652 lines, 32 variables (columns)
 ATTENTION : 705 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        35
2P          1
2PA         1
2P%         6
eFG%        2
FT          1
FTA         1
FT%        33
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    603
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2021
=========================================
Dimensions : 706 lines, 32 variables (columns)
 ATTENTION : 749 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        35
2P          1
2PA         1
2P%         6
eFG%        2
FT          1
FTA         1
FT%        29
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    651
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2022
=========================================
Dimensions : 813 lines, 32 variables (columns)
 ATTENTION : 1009 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%        15
3P          1
3PA         1
3P%        72
2P          1
2PA         1
2P%        28
eFG%       15
FT          1
FTA         1
FT%        97
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    758
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2023
=========================================
Dimensions : 680 lines, 32 variables (columns)
 ATTENTION : 726 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%        24
2P          1
2PA         1
2P%         7
eFG%        3
FT          1
FTA         1
FT%        37
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    628
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2024
=========================================
Dimensions : 736 lines, 32 variables (columns)
 ATTENTION : 838 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         8
3P          1
3PA         1
3P%        46
2P          1
2PA         1
2P%        13
eFG%        8
FT          1
FTA         1
FT%        59
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    680
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2025
=========================================
Dimensions : 736 lines, 32 variables (columns)
 ATTENTION : 813 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%        45
2P          1
2PA         1
2P%        11
eFG%        4
FT          1
FTA         1
FT%        42
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    683
dtype: int64
----------------------------------------

--- End of the analysis ---

In [7]:
# ---Display to see howw a dataframes looks like from our database. For example 2005
display(rs2005)

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Player-additional
0,1.0,Allen Iverson,29.0,PHI,PG,75.0,75.0,42.3,10.3,24.2,...,3.3,4.0,7.9,2.4,0.1,4.6,1.9,30.7,MVP-5DPOY-11ASNBA1,iversal01
1,2.0,Kobe Bryant,26.0,LAL,SG,66.0,66.0,40.7,8.7,20.1,...,4.5,5.9,6.0,1.3,0.8,4.1,2.6,27.6,ASNBA3,bryanko01
2,3.0,LeBron James,20.0,CLE,SF,80.0,80.0,42.4,9.9,21.1,...,6.0,7.4,7.2,2.2,0.7,3.3,1.8,27.2,MVP-6ASNBA2,jamesle01
3,4.0,Dirk Nowitzki,26.0,DAL,PF,78.0,78.0,38.7,8.5,18.5,...,8.5,9.7,3.1,1.2,1.5,2.3,2.8,26.1,MVP-3ASNBA1,nowitdi01
4,5.0,Amar'e Stoudemire,22.0,PHO,C,80.0,80.0,36.1,9.3,16.7,...,6.2,8.9,1.6,1.0,1.6,2.4,3.5,26.0,MVP-9ASNBA2,stoudam01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,461.0,Maurice Baker,25.0,POR,PG,4.0,0.0,4.5,0.0,0.3,...,0.3,0.5,0.3,0.3,0.0,0.3,0.8,0.0,NaN,bakerma01
582,462.0,Linton Johnson,24.0,SAS,SF,2.0,0.0,7.5,0.0,1.0,...,1.5,1.5,0.0,0.5,0.0,0.5,0.5,0.0,NaN,johnsli01
583,463.0,Brandin Knight,23.0,HOU,PG,1.0,0.0,3.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,knighbr02
584,464.0,Ibo Kutluay,30.0,SEA,SG,5.0,0.0,2.4,0.0,0.2,...,0.2,0.2,0.0,0.0,0.0,0.4,0.2,0.0,NaN,kutluib01
585,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9999