<a href="https://colab.research.google.com/github/maadmaaax/Project_NBA_GroupM/blob/main/Analyse_Principale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (4.13.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [74]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [75]:
!git clone https://github.com/maadmaaax/Project_NBA_GroupM
#Load Player stat data set
rs2005=pd.read_csv('Project_NBA_GroupM/rs2005.csv')
rs2006=pd.read_csv('Project_NBA_GroupM/rs2006.csv')
rs2007=pd.read_csv('Project_NBA_GroupM/rs2007.csv')
rs2008=pd.read_csv('Project_NBA_GroupM/rs2008.csv')
rs2009=pd.read_csv('Project_NBA_GroupM/rs2009.csv')
rs2010=pd.read_csv('Project_NBA_GroupM/rs2010.csv')
rs2011=pd.read_csv('Project_NBA_GroupM/rs2011.csv')
rs2012=pd.read_csv('Project_NBA_GroupM/rs2012.csv')
rs2013=pd.read_csv('Project_NBA_GroupM/rs2013.csv')
rs2014=pd.read_csv('Project_NBA_GroupM/rs2014.csv')
rs2015=pd.read_csv('Project_NBA_GroupM/rs2015.csv')
rs2016=pd.read_csv('Project_NBA_GroupM/rs2016.csv')
rs2017=pd.read_csv('Project_NBA_GroupM/rs2017.csv')
rs2018=pd.read_csv('Project_NBA_GroupM/rs2018.csv')
rs2019=pd.read_csv('Project_NBA_GroupM/rs2019.csv')
rs2020=pd.read_csv('Project_NBA_GroupM/rs2020.csv')
rs2021=pd.read_csv('Project_NBA_GroupM/rs2021.csv')
rs2022=pd.read_csv('Project_NBA_GroupM/rs2022.csv')
rs2023=pd.read_csv('Project_NBA_GroupM/rs2023.csv')
rs2024=pd.read_csv('Project_NBA_GroupM/rs2024.csv')
rs2025=pd.read_csv('Project_NBA_GroupM/rs2025.csv')
#Load teams result data sets
st2005=pd.read_csv('Project_NBA_GroupM/st2005.csv')
st2006=pd.read_csv('Project_NBA_GroupM/st2006.csv')
st2007=pd.read_csv('Project_NBA_GroupM/st2007.csv')
st2008=pd.read_csv('Project_NBA_GroupM/st2008.csv')
st2009=pd.read_csv('Project_NBA_GroupM/st2009.csv')
st2010=pd.read_csv('Project_NBA_GroupM/st2010.csv')
st2011=pd.read_csv('Project_NBA_GroupM/st2011.csv')
st2012=pd.read_csv('Project_NBA_GroupM/st2012.csv')
st2013=pd.read_csv('Project_NBA_GroupM/st2013.csv')
st2014=pd.read_csv('Project_NBA_GroupM/st2014.csv')
st2015=pd.read_csv('Project_NBA_GroupM/st2015.csv')
st2016=pd.read_csv('Project_NBA_GroupM/st2016.csv')
st2017=pd.read_csv('Project_NBA_GroupM/st2017.csv')
st2018=pd.read_csv('Project_NBA_GroupM/st2018.csv')
st2019=pd.read_csv('Project_NBA_GroupM/st2019.csv')
st2020=pd.read_csv('Project_NBA_GroupM/st2020.csv')
st2021=pd.read_csv('Project_NBA_GroupM/st2021.csv')
st2022=pd.read_csv('Project_NBA_GroupM/st2022.csv')
st2023=pd.read_csv('Project_NBA_GroupM/st2023.csv')
st2024=pd.read_csv('Project_NBA_GroupM/st2024.csv')
st2025=pd.read_csv('Project_NBA_GroupM/st2025.csv')

fatal: destination path 'Project_NBA_GroupM' already exists and is not an empty directory.

In [76]:
#Changing full team name to 3letter code to keep consistent with the rs dataset
team_replacements = {
    "Atlanta Hawks": "ATL",
    "Boston Celtics": "BOS",
    "Brooklyn Nets": "BRK",
    "New Jersey Nets": "BRK",
    "NJN":"BRK",
    "Charlotte Hornets": "CHO",
    "Charlotte Bobcats": "CHO",
    "CHA":"CHO",
    "Chicago Bulls": "CHI",
    "Cleveland Cavaliers": "CLE",
    "Dallas Mavericks": "DAL",
    "Denver Nuggets": "DEN",
    "Detroit Pistons": "DET",
    "Golden State Warriors": "GSW",
    "Houston Rockets": "HOU",
    "Indiana Pacers": "IND",
    "Los Angeles Clippers": "LAC",
    "Los Angeles Lakers": "LAL",
    "Memphis Grizzlies": "MEM",
    "Miami Heat": "MIA",
    "Milwaukee Bucks": "MIL",
    "Minnesota Timberwolves": "MIN",
    "New Orleans Pelicans": "NOP",
    "New Orleans Hornets": "NOP",
    "NOH": "NOP",
    "New Orleans/Oklahoma City Hornets": "NOP",
    "NOK": "NOP",
    "New York Knicks": "NYK",
    "Oklahoma City Thunder": "OKC",
    "Seattle SuperSonics": "OKC",
    "SEA": "OKC",
    "Orlando Magic": "ORL",
    "Philadelphia 76ers": "PHI",
    "Phoenix Suns": "PHO",
    "Portland Trail Blazers": "POR",
    "Sacramento Kings": "SAC",
    "San Antonio Spurs": "SAS",
    "Toronto Raptors": "TOR",
    "Utah Jazz": "UTA",
    "Washington Wizards": "WAS"
}

Dropst=['E','W','Apr','A','C','SE','NW','P','SW','Post','Pre','Oct','Nov','Dec','Jan','Feb','Mar','Jul','Aug','May']
years = range(2005, 2025)

for year in years:
    df_name = f'st{year}'
    if df_name in globals():
        df = globals()[df_name]
        # Strip spaces and replace team names in the relevant column
        df['Team'] = df['Team'].str.strip().replace(team_replacements)
        df=df.drop(columns=Dropst,errors='ignore')
        # Create Win and loss as column and compute %
        df[['W','L']]=df['Overall'].str.split('-',expand=True).astype(int)
        df['W%']=df['W']/(df['L']+df['W'])
        # Save back to variable
        globals()[df_name] = df

#Changing old team name to recent one for consistency
for year in years:
    df_name = f'rs{year}'
    if df_name in globals():
        df = globals()[df_name]
        # Strip spaces and replace team names in the relevant column
        df['Team'] = df['Team'].str.strip().replace(team_replacements)
        # Save back to variable
        globals()[df_name] = df

In [77]:
# --- Exploring Dataframes one by one ---

# 1. Create a dictionnary to associate Dataframes names
# C'est plus propre pour l'affichage que d'utiliser la liste
dfs_dict = {
    "rs2005": rs2005, "rs2006": rs2006, "rs2007": rs2007, "rs2008": rs2008,
    "rs2009": rs2009, "rs2010": rs2010, "rs2011": rs2011, "rs2012": rs2012,
    "rs2013": rs2013, "rs2014": rs2014, "rs2015": rs2015, "rs2016": rs2016,
    "rs2017": rs2017, "rs2018": rs2018, "rs2019": rs2019, "rs2020": rs2020,
    "rs2021": rs2021, "rs2022": rs2022, "rs2023": rs2023, "rs2024": rs2024,
    "rs2025": rs2025
}
sts_dict = {
    "st2005": st2005, "st2006": st2006, "st2007": st2007, "st2008": st2008,
    "st2009": st2009, "st2010": st2010, "st2011": st2011, "st2012": st2012,
    "st2013": st2013, "st2014": st2014, "st2015": st2015, "st2016": st2016,
    "st2017": st2017, "st2018": st2018, "st2019": st2019, "st2020": st2020,
    "st2021": st2021, "st2022": st2022, "st2023": st2023, "st2024": st2024,
    "st2025": st2025
}

print("--- Starting the analysis of each seasons ---")

# 2. Loop on each pair (name, DataFrame) in the dictionnairy
for name, df in dfs_dict.items():

    print(f"\n=========================================")
    print(f" ANALYSIS of : {name}")
    print(f"=========================================")

    # 1. Display the Shape (Dimensions)
    # df.shape[0] = lignes, df.shape[1] = columns (variables)
    print(f"Dimensions : {df.shape[0]} lines, {df.shape[1]} variables (columns)")

    # 2. Verify the values NaN
    # .isnull() creates a DF of booleans (True si NaN)
    # .sum() is the sum per column
    # .sum() a second sum for the total sum
    total_nan = df.isnull().sum().sum()

    if total_nan == 0:
        print(" Good news : No NaN values were found.")
    else:
        # If there is any NaN values, we want to know where
        print(f" ATTENTION : {total_nan} NaN Values in total were found !")

        # We create a serie of 'nan_per_column' that count the NaN per column
        nan_per_column = df.isnull().sum()

        # We print only the column that really have NaN
        print("Infos of NaN per column :")
        print(nan_per_column[nan_per_column > 0])

    print("-" * 40)

print("\n--- End of the analysis ---")

--- Starting the analysis of each seasons ---

=========================================
 ANALYSIS of : rs2005
=========================================
Dimensions : 586 lines, 32 variables (columns)
 ATTENTION : 689 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%       108
2P          1
2PA         1
2P%         2
eFG%        2
FT          1
FTA         1
FT%        25
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    526
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2006
=========================================
Dimensions : 564 lines, 32 variables (columns)
 ATTENTION : 679 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%       121
2P          1
2PA         1
2P%         5
eFG%        4
FT          1
FTA         1
FT%        26
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    495
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2007
=========================================
Dimensions : 517 lines, 32 variables (columns)
 ATTENTION : 592 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%       101
2P          1
2PA         1
2P%         5
eFG%        3
FT          1
FTA         1
FT%        16
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    440
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2008
=========================================
Dimensions : 596 lines, 32 variables (columns)
 ATTENTION : 705 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%       116
2P          1
2PA         1
2P%         3
eFG%        2
FT          1
FTA         1
FT%        30
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    528
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2009
=========================================
Dimensions : 583 lines, 32 variables (columns)
 ATTENTION : 677 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%       102
2P          1
2PA         1
2P%         5
eFG%        4
FT          1
FTA         1
FT%        26
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    512
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2010
=========================================
Dimensions : 579 lines, 32 variables (columns)
 ATTENTION : 663 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%        93
2P          1
2PA         1
2P%         5
eFG%        3
FT          1
FTA         1
FT%        21
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    514
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2011
=========================================
Dimensions : 626 lines, 32 variables (columns)
 ATTENTION : 735 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%       111
2P          1
2PA         1
2P%         4
eFG%        3
FT          1
FTA         1
FT%        29
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    561
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2012
=========================================
Dimensions : 552 lines, 32 variables (columns)
 ATTENTION : 630 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
3P          1
3PA         1
3P%        99
2P          1
2PA         1
FT          1
FTA         1
FT%        25
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    482
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2013
=========================================
Dimensions : 574 lines, 32 variables (columns)
 ATTENTION : 662 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%        95
2P          1
2PA         1
2P%         4
eFG%        4
FT          1
FTA         1
FT%        22
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    509
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2014
=========================================
Dimensions : 612 lines, 32 variables (columns)
 ATTENTION : 722 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         7
3P          1
3PA         1
3P%        96
2P          1
2PA         1
2P%         9
eFG%        7
FT          1
FTA         1
FT%        32
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    547
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2015
=========================================
Dimensions : 652 lines, 32 variables (columns)
 ATTENTION : 730 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        81
2P          1
2PA         1
2P%         4
eFG%        2
FT          1
FTA         1
FT%        25
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    592
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2016
=========================================
Dimensions : 579 lines, 32 variables (columns)
 ATTENTION : 634 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%        56
2P          1
2PA         1
2P%         8
eFG%        3
FT          1
FTA         1
FT%        24
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    516
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2017
=========================================
Dimensions : 596 lines, 32 variables (columns)
 ATTENTION : 643 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        46
2P          1
2PA         1
2P%         5
eFG%        2
FT          1
FTA         1
FT%        24
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    540
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2018
=========================================
Dimensions : 665 lines, 32 variables (columns)
 ATTENTION : 781 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%        65
2P          1
2PA         1
2P%        18
eFG%        4
FT          1
FTA         1
FT%        58
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    608
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2019
=========================================
Dimensions : 709 lines, 32 variables (columns)
 ATTENTION : 792 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         6
3P          1
3PA         1
3P%        47
2P          1
2PA         1
2P%        15
eFG%        6
FT          1
FTA         1
FT%        43
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    651
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2020
=========================================
Dimensions : 652 lines, 32 variables (columns)
 ATTENTION : 705 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        35
2P          1
2PA         1
2P%         6
eFG%        2
FT          1
FTA         1
FT%        33
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    603
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2021
=========================================
Dimensions : 706 lines, 32 variables (columns)
 ATTENTION : 749 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         2
3P          1
3PA         1
3P%        35
2P          1
2PA         1
2P%         6
eFG%        2
FT          1
FTA         1
FT%        29
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    651
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2022
=========================================
Dimensions : 813 lines, 32 variables (columns)
 ATTENTION : 1009 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%        15
3P          1
3PA         1
3P%        72
2P          1
2PA         1
2P%        28
eFG%       15
FT          1
FTA         1
FT%        97
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    758
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2023
=========================================
Dimensions : 680 lines, 32 variables (columns)
 ATTENTION : 726 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         3
3P          1
3PA         1
3P%        24
2P          1
2PA         1
2P%         7
eFG%        3
FT          1
FTA         1
FT%        37
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    628
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2024
=========================================
Dimensions : 736 lines, 32 variables (columns)
 ATTENTION : 838 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         8
3P          1
3PA         1
3P%        46
2P          1
2PA         1
2P%        13
eFG%        8
FT          1
FTA         1
FT%        59
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    680
dtype: int64
----------------------------------------

=========================================
 ANALYSIS of : rs2025
=========================================
Dimensions : 736 lines, 32 variables (columns)
 ATTENTION : 813 NaN Values in total were found !
Infos of NaN per column :
Rk          1
Age         1
Team        1
Pos         1
G           1
GS          1
MP          1
FG          1
FGA         1
FG%         4
3P          1
3PA         1
3P%        45
2P          1
2PA         1
2P%        11
eFG%        4
FT          1
FTA         1
FT%        42
ORB         1
DRB         1
TRB         1
AST         1
STL         1
BLK         1
TOV         1
PF          1
PTS         1
Awards    683
dtype: int64
----------------------------------------

--- End of the analysis ---

In [78]:
# ---Display to see howw a dataframes looks like from our database. For example 2005
display(st2005)

    Rk Team Overall   Home   Road    ≤3    ≥10   W   L        W%
0    1  PHO   62-20  31-10  31-10   7-2   36-8  62  20  0.756098
1    2  MIA   59-23   35-6  24-17   7-8   33-6  59  23  0.719512
2    3  SAS   59-23   38-3  21-20   9-7   40-5  59  23  0.719512
3    4  DAL   58-24  29-12  29-12   8-4  28-10  58  24  0.707317
4    5  DET   54-28   32-9  22-19   8-8  26-14  54  28  0.658537
5    6  OKC   52-30  26-15  26-15   7-5  25-15  52  30  0.634146
6    7  HOU   51-31  26-15  25-16  12-6  28-11  51  31  0.621951
7    8  SAC   50-32  30-11  20-21  10-7  20-15  50  32  0.609756
8    9  DEN   49-33  31-10  18-23   8-4  25-18  49  33  0.597561
9   10  CHI   47-35  27-14  20-21   7-5  15-15  47  35  0.573171
10  11  BOS   45-37  27-14  18-23  11-7  16-14  45  37  0.548780
11  12  MEM   45-37  26-15  19-22  7-11  23-12  45  37  0.548780
12  13  WAS   45-37  29-12  16-25  14-6  16-16  45  37  0.548780
13  14  IND   44-38  25-16  19-22   9-9  18-12  44  38  0.536585
14  15  MIN   44-38  24-17  20-21   5-6  16-15  44  38  0.536585
15  16  PHI   43-39  25-16  18-23  10-4  13-15  43  39  0.524390
16  17  BRK   42-40  24-17  18-23   7-4  19-26  42  40  0.512195
17  18  CLE   42-40  29-12  13-28   4-5  27-20  42  40  0.512195
18  19  LAC   37-45  27-14  10-31  4-13  15-19  37  45  0.451220
19  20  ORL   36-46  24-17  12-29  10-5  10-22  36  46  0.439024
20  21  GSW   34-48  20-21  14-27  4-10  14-22  34  48  0.414634
21  22  LAL   34-48  22-19  12-29  6-10  11-23  34  48  0.414634
22  23  NYK   33-49  22-19  11-30  9-11  13-17  33  49  0.402439
23  24  TOR   33-49  22-19  11-30   6-9  16-21  33  49  0.402439
24  25  MIL   30-52  23-18   7-34   8-8  10-21  30  52  0.365854
25  26  POR   27-55  18-23   9-32   8-5   9-21  27  55  0.329268
26  27  UTA   26-56  18-23   8-33  6-10  13-31  26  56  0.317073
27  28  CHO   18-64  14-27   4-37  5-16   6-29  18  64  0.219512
28  29  NOP   18-64  11-30   7-34  6-11   3-31  18  64  0.219512
29  30  ATL   13-69   9-32   4-37   2-8   3-43  13  69  0.158537

In [79]:
rs2006.head(10)

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Player-additional
0,1.0,Kobe Bryant,27.0,LAL,SG,80.0,80.0,41.0,12.2,27.2,...,4.4,5.3,4.5,1.8,0.4,3.1,2.9,35.4,MVP-4ASNBA1DEF1,bryanko01
1,2.0,Allen Iverson,30.0,PHI,PG,72.0,72.0,43.1,11.3,25.3,...,2.6,3.2,7.4,1.9,0.1,3.4,1.7,33.0,MVP-10ASNBA3,iversal01
2,3.0,LeBron James,21.0,CLE,SF,79.0,79.0,42.5,11.1,23.1,...,6.1,7.0,6.6,1.6,0.8,3.3,2.3,31.4,MVP-2ASNBA1,jamesle01
3,4.0,Gilbert Arenas,24.0,WAS,PG,80.0,80.0,42.3,9.3,20.9,...,2.8,3.5,6.1,2.0,0.3,3.7,3.6,29.3,ASNBA3,arenagi01
4,5.0,Dwyane Wade,24.0,MIA,SG,75.0,75.0,38.6,9.3,18.8,...,4.3,5.7,6.7,1.9,0.8,3.6,2.9,27.2,MVP-6ASNBA2,wadedw01
5,6.0,Paul Pierce,28.0,BOS,SF,79.0,79.0,39.0,8.7,18.5,...,5.7,6.7,4.7,1.4,0.4,3.5,2.8,26.8,AS,piercpa01
6,7.0,Dirk Nowitzki,27.0,DAL,PF,81.0,81.0,38.1,9.3,19.3,...,7.6,9.0,2.8,0.7,1.0,1.9,2.0,26.6,MVP-3ASNBA1,nowitdi01
7,8.0,Carmelo Anthony,21.0,DEN,SF,80.0,80.0,36.8,9.5,19.7,...,3.4,4.9,2.7,1.1,0.5,2.7,2.9,26.5,NBA3,anthoca01
8,9.0,Michael Redd,26.0,MIL,SG,80.0,80.0,39.1,8.5,19.0,...,3.3,4.3,2.9,1.2,0.1,2.1,2.0,25.4,NaN,reddmi01
9,10.0,Ray Allen,30.0,OKC,SG,78.0,78.0,38.7,8.7,19.2,...,3.3,4.3,3.7,1.3,0.2,2.4,1.9,25.1,AS,allenra02

In [80]:
#---Combine every seasons from 2005 to 2025 to determine score max & score min
#for every variable that are useful in our analysis

# 1. Merge all df in a list
all_dfs_list = [
    rs2005, rs2006, rs2007, rs2008, rs2009, rs2010,
    rs2011, rs2012, rs2013, rs2014, rs2015, rs2016,
    rs2017, rs2018, rs2019, rs2020, rs2021, rs2022,
    rs2023, rs2024, rs2025
]
all_sts_list = [
    st2005, st2006, st2007, st2008, st2009, st2010,
    st2011, st2012, st2013, st2014, st2015, st2016,
    st2017, st2018, st2019, st2020, st2021, st2022,
    st2023, st2024, st2025
]

#We concat all in one big Dataframe
#and we add 'season' column
season = 2005
for df in all_dfs_list:
  df['Season'] = season
  season += 1

season = 2005
for df in all_sts_list:
  df['Season'] = season
  season += 1

sts_data_full = pd.concat(all_sts_list, ignore_index=True)
sts_data_full=sts_data_full.drop(columns=Dropst,errors='ignore')
nbas_data_full = pd.concat(all_dfs_list, ignore_index=True)

print("All seasons combined")
print(nbas_data_full.shape)
display(sts_data_full.head(50))

All seasons combined
(13313, 33)

    Rk Team Overall   Home   Road    ≤3    ≥10     L        W%  Season
0    1  PHO   62-20  31-10  31-10   7-2   36-8  20.0  0.756098    2005
1    2  MIA   59-23   35-6  24-17   7-8   33-6  23.0  0.719512    2005
2    3  SAS   59-23   38-3  21-20   9-7   40-5  23.0  0.719512    2005
3    4  DAL   58-24  29-12  29-12   8-4  28-10  24.0  0.707317    2005
4    5  DET   54-28   32-9  22-19   8-8  26-14  28.0  0.658537    2005
5    6  OKC   52-30  26-15  26-15   7-5  25-15  30.0  0.634146    2005
6    7  HOU   51-31  26-15  25-16  12-6  28-11  31.0  0.621951    2005
7    8  SAC   50-32  30-11  20-21  10-7  20-15  32.0  0.609756    2005
8    9  DEN   49-33  31-10  18-23   8-4  25-18  33.0  0.597561    2005
9   10  CHI   47-35  27-14  20-21   7-5  15-15  35.0  0.573171    2005
10  11  BOS   45-37  27-14  18-23  11-7  16-14  37.0  0.548780    2005
11  12  MEM   45-37  26-15  19-22  7-11  23-12  37.0  0.548780    2005
12  13  WAS   45-37  29-12  16-25  14-6  16-16  37.0  0.548780    2005
13  14  IND   44-38  25-16  19-22   9-9  18-12  38.0  0.536585    2005
14  15  MIN   44-38  24-17  20-21   5-6  16-15  38.0  0.536585    2005
15  16  PHI   43-39  25-16  18-23  10-4  13-15  39.0  0.524390    2005
16  17  BRK   42-40  24-17  18-23   7-4  19-26  40.0  0.512195    2005
17  18  CLE   42-40  29-12  13-28   4-5  27-20  40.0  0.512195    2005
18  19  LAC   37-45  27-14  10-31  4-13  15-19  45.0  0.451220    2005
19  20  ORL   36-46  24-17  12-29  10-5  10-22  46.0  0.439024    2005
20  21  GSW   34-48  20-21  14-27  4-10  14-22  48.0  0.414634    2005
21  22  LAL   34-48  22-19  12-29  6-10  11-23  48.0  0.414634    2005
22  23  NYK   33-49  22-19  11-30  9-11  13-17  49.0  0.402439    2005
23  24  TOR   33-49  22-19  11-30   6-9  16-21  49.0  0.402439    2005
24  25  MIL   30-52  23-18   7-34   8-8  10-21  52.0  0.365854    2005
25  26  POR   27-55  18-23   9-32   8-5   9-21  55.0  0.329268    2005
26  27  UTA   26-56  18-23   8-33  6-10  13-31  56.0  0.317073    2005
27  28  CHO   18-64  14-27   4-37  5-16   6-29  64.0  0.219512    2005
28  29  NOP   18-64  11-30   7-34  6-11   3-31  64.0  0.219512    2005
29  30  ATL   13-69   9-32   4-37   2-8   3-43  69.0  0.158537    2005
30   1  DET   64-18   37-4  27-14   7-4   32-8  18.0  0.780488    2006
31   2  SAS   63-19   34-7  29-12  10-2  31-11  19.0  0.768293    2006
32   3  DAL   60-22   34-7  26-15  11-6  28-10  22.0  0.731707    2006
33   4  PHO   54-28  31-10  23-18   0-7   34-9  28.0  0.658537    2006
34   5  MIA   52-30  31-10  21-20   8-4  27-11  30.0  0.634146    2006
35   6  CLE   50-32  31-10  19-22   9-4  20-11  32.0  0.609756    2006
36   7  MEM   49-33  30-11  19-22  6-10  30-13  33.0  0.597561    2006
37   8  BRK   49-33  29-12  20-21   8-6  21-17  33.0  0.597561    2006
38   9  LAC   47-35  27-14  20-21   6-5  24-19  35.0  0.573171    2006
39  10  LAL   45-37  27-14  18-23   7-9  25-15  37.0  0.548780    2006
40  11  DEN   44-38  26-15  18-23  12-8  22-20  38.0  0.536585    2006
41  12  SAC   44-38  27-14  17-24   6-5  21-21  38.0  0.536585    2006
42  13  WAS   42-40  27-14  15-26   5-8  24-16  40.0  0.512195    2006
43  14  CHI   41-41  21-20  20-21  6-10  14-16  41.0  0.500000    2006
44  15  IND   41-41  27-14  14-27  4-10  26-14  41.0  0.500000    2006
45  16  UTA   41-41  22-19  19-22   7-2  17-23  41.0  0.500000    2006
46  17  MIL   40-42  25-16  15-26  11-6  15-18  42.0  0.487805    2006
47  18  NOP   38-44  24-17  14-27   7-5  14-28  44.0  0.463415    2006
48  19  PHI   38-44  23-18  15-26   9-7  12-21  44.0  0.463415    2006
49  20  ORL   36-46  26-15  10-31   4-6  15-19  46.0  0.439024    2006

In [81]:
# Remove the row where 'Rk' is 'League Average'
nbas_data_full = nbas_data_full[nbas_data_full['Rk'] != 'League Average'].copy()

# List of columns that should be numerical (excluding Player, Team, Pos, Awards, Player-additional)
numerical_cols = ['Rk', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

# Convert numerical columns to numeric, coercing errors to NaN
for col in numerical_cols:
    nbas_data_full[col] = pd.to_numeric(nbas_data_full[col], errors='coerce')

# Drop rows with NaN values in the numerical columns
nbas_data_full.dropna(subset=numerical_cols, inplace=True)

print("DataFrame after removing rows with missing or non-numerical values in specified columns:")
print(nbas_data_full.shape)
display(nbas_data_full.head())

DataFrame after removing rows with missing or non-numerical values in specified columns:
(11236, 33)

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Player-additional,Season
0,1.0,Allen Iverson,29.0,PHI,PG,75.0,75.0,42.3,10.3,24.2,...,4.0,7.9,2.4,0.1,4.6,1.9,30.7,MVP-5DPOY-11ASNBA1,iversal01,2005
1,2.0,Kobe Bryant,26.0,LAL,SG,66.0,66.0,40.7,8.7,20.1,...,5.9,6.0,1.3,0.8,4.1,2.6,27.6,ASNBA3,bryanko01,2005
2,3.0,LeBron James,20.0,CLE,SF,80.0,80.0,42.4,9.9,21.1,...,7.4,7.2,2.2,0.7,3.3,1.8,27.2,MVP-6ASNBA2,jamesle01,2005
3,4.0,Dirk Nowitzki,26.0,DAL,PF,78.0,78.0,38.7,8.5,18.5,...,9.7,3.1,1.2,1.5,2.3,2.8,26.1,MVP-3ASNBA1,nowitdi01,2005
4,5.0,Amar'e Stoudemire,22.0,PHO,C,80.0,80.0,36.1,9.3,16.7,...,8.9,1.6,1.0,1.6,2.4,3.5,26.0,MVP-9ASNBA2,stoudam01,2005

In [82]:
# Check for missing values in the combined DataFrame
missing_values = nbas_data_full.isnull().sum()

# Display the number of missing values per column
print("Missing values per column in nbas_data_full:")
display(missing_values[missing_values > 0])

Missing values per column in nbas_data_full:

Awards    9992
dtype: int64

In [83]:
# ---2. Creating stats "Per 36 minutes"---
# We need to normalize the time played per player

min_played_col='MP'
stats_to_normalize = [
    'PTS', 'AST', 'TRB', 'STL', 'BLK', # Positive Stats
    'TOV', 'PF' # Negative Stats
]

print(f"Normalisation using'{min_played_col}")
for stat in stats_to_normalize:
    new_col_name = f"{stat}_per_36"

    #For every stats, the formule is : (stat / time played) * 36
    # To avoid a zero division we have to use .replace(0,1)
    nbas_data_full[new_col_name] = (nbas_data_full[stat] / nbas_data_full[min_played_col].replace(0, 1)) * 36
print("Stats 'per 36 minutes' créées.")
print(nbas_data_full[['Season', min_played_col, 'PTS', 'PTS_per_36']].head())

Normalisation using'MP
Stats 'per 36 minutes' créées.
   Season    MP   PTS  PTS_per_36
0    2005  42.3  30.7   26.127660
1    2005  40.7  27.6   24.412776
2    2005  42.4  27.2   23.094340
3    2005  38.7  26.1   24.279070
4    2005  36.1  26.0   25.927978

In [84]:
# ---3. Agregate effeciency stats---
# we take new named columns
stats_eff = [f"{stat}_per_36" for stat in stats_to_normalize]

# We group by season & teams & we calculate the mean of stats_eff
team_stats_eff = nbas_data_full.groupby(['Season', 'Team'])[stats_eff].mean().reset_index()
print("\nEffeciency mean stats per team per season:")
display(team_stats_eff.head())

Effeciency mean stats per team per season:

,Season,Team,PTS_per_36,AST_per_36,TRB_per_36,STL_per_36,BLK_per_36,TOV_per_36,PF_per_36
0,2005,2TM,12.821762,3.222402,5.478983,1.146436,0.467041,2.163686,3.853996
1,2005,3TM,11.385704,2.027897,7.808328,1.131437,0.873421,1.803470,3.588758
2,2005,ATL,12.756688,2.955113,5.840819,1.218494,0.510474,2.212654,4.031548
3,2005,BOS,14.342377,3.024734,5.979626,1.182212,0.714423,2.112897,3.927485
4,2005,BRK,12.439679,2.603393,5.364448,1.176340,0.389075,1.761814,3.601336

In [85]:
from numpy import positive
# --- 4. Power Score Calculation ---
team_scores = team_stats_eff[['Season', 'Team']].copy()

# Separate positive stats frome the negative ones
positive_stats = ['PTS_per_36', 'AST_per_36', 'TRB_per_36', 'STL_per_36', 'BLK_per_36']
negative_stats = ['TOV_per_36', 'PF_per_36']

#For positive stats
for col in positive_stats:
    min_score = team_stats_eff[col].min()
    max_score = team_stats_eff[col].max()
    col_score_name = f"{col}_score"
    team_scores[col_score_name] = 1 + 5 * (team_stats_eff[col] - min_score) / (max_score - min_score)

# For negative stats
for col in negative_stats:
    min_score = team_stats_eff[col].min()
    max_score = team_stats_eff[col].max()
    col_score_name = f"{col}_score"
    team_scores[col_score_name] = 1 + 5 * (max_score - team_stats_eff[col]) / (max_score - min_score)

# Calculate the general mean score
col_score = [col for col in team_scores.columns if col.endswith('_score')]
team_scores['Final_Power_Score'] = team_scores[col_score].mean(axis=1)

# Finding the predictible winners from our model
idx_predicts = team_scores.groupby('Season')['Final_Power_Score'].idxmax()
pred_winner = team_scores.loc[idx_predicts]


print("\n Winners based on our model:")
print(pred_winner[['Season', 'Team', 'Final_Power_Score']])

 Winners based on our model:
     Season Team  Final_Power_Score
27     2005  SAC           3.522611
57     2006  PHO           3.817522
74     2007  GSW           3.428825
111    2008  LAL           3.544901
129    2009  3TM           3.730896
171    2010  GSW           3.511135
204    2011  HOU           3.525536
235    2012  GSW           3.553967
265    2013  DEN           3.656071
308    2014  NOP           3.553516
331    2015  GSW           3.781223
363    2016  GSW           3.742549
395    2017  GSW           3.959460
428    2018  GSW           3.982295
452    2019  BOS           3.890910
510    2020  TOR           3.803302
517    2021  BRK           3.959728
561    2022  MEM           3.951208
601    2023  PHO           3.850320
627    2024  MIN           4.048924
651    2025  GSW           4.107338

In [87]:
idx_winner= sts_data_full.groupby('Season')['W%'].idxmax()
idx_winner = idx_winner.dropna()
idx_winner=idx_winner.drop(columns=Dropst,errors='ignore')
actual_winner=sts_data_full.loc[idx_winner]
print(actual_winner.head())

     Rk Team Overall   Home   Road    ≤3   ≥10     L        W%  Season
0     1  PHO   62-20  31-10  31-10   7-2  36-8  20.0  0.756098    2005
30    1  DET   64-18   37-4  27-14   7-4  32-8  18.0  0.780488    2006
60    1  DAL   67-15   36-5  31-10  12-3  36-9  15.0  0.817073    2007
90    1  BOS   66-16   35-6  31-10   7-6  45-3  16.0  0.804878    2008
120   1  CLE   66-16   39-2  27-14   3-3  41-7  16.0  0.804878    2009